<h2>IBAN (International Bank Account Number) checker: Advanced version</h2>
<h3>Prerequisites</h3>
<ul>
<li>.NET 6.0 SDK installed.</li>
<li>An IDE that supports building .NET 6 projects. For example, Visual Studio, Visual Studio Code, and Jet Brains Rider.</li>
<li>Basic knowledge of C# programming concepts.</li>
</ul>
<h3>Usage</h3>
<ol>
<li>
<p>Load the C# project file, <code>OutSystems.IbanChecker.csproj</code>, using a supported IDE.</p>
<p>Files in the project:</p>
<ul>
<li>
<p><strong>IIbanChecker.cs</strong>: Defines a public interface named <code>IIbanChecker</code> decorated with the <code>OSInterface</code> attribute. The interface has four methods:</p>
<ul>
<li>
<code>Parse</code>: Takes an IBAN string as input and returns an <code>Iban</code> struct.</li>
<li>
<code>TryParse</code>: Attempts to parse an IBAN string as input and returns a boolean success indicator along with the parsed <code>Iban</code> struct.</li>
<li>
<code>Validate</code>: Takes an IBAN string as input as checks it against a specific rule and a list of rejected countries.</li>
<li>
<code>Format</code>: Takes an <code>Iban</code> struct and an optional format string as input and returns a formatted string representation of the IBAN.</li>
</ul>
<p>Each method is exposed as a server action to your ODC apps and libraries.</p>
</li>
<li>
<p><strong>IbanChecker.cs</strong>: Defines a public class named <code>IbanChecker</code> that implements the <code>IIbanChecker</code> interface. The class is a convenient wrapper for the <code>IbanNet</code> library, an <a href="https://github.com/skwasjer/IbanNet">open-source library</a> that provides functionality for parsing and validating IBANs. The class contains private fields <code>_parser</code> and <code>_validator</code>, which are instances of the <code>IIbanParser</code> and <code>IIbanValidator</code> interfaces. The constructor initializes these instances for use in the class methods.</p>
</li>
<li>
<p><strong>Structures/Iban.cs</strong> Defines a struct named <code>Iban</code>, decorated with the <code>OSStructure</code> attribute. The struct has four public properties: <code>Country</code>, <code>Bban</code>, <code>BankIdentifier</code>, and <code>BranchIdentifier</code>. It's exposed as a structure to your ODC apps and libraries.</p>
</li>
<li>
<p><strong>Structures/IbanCountry.cs</strong> Defines a struct named <code>IbanCountry</code>, decorated with the <code>OSStructure</code> attribute. The struct has five public properties: <code>TwoLetterISORegionName</code>, <code>DisplayName</code>, <code>NativeName</code>, <code>EnglishName</code>, and <code>DomesticAccountNumberExample</code>. It's exposed as a structure to your ODC apps and libraries.</p>
</li>
<li>
<p><strong>Structures/ValidationResult.cs</strong> Defines a struct named <code>ValidationResult</code>, decorated with the <code>OSStructure</code> attribute. The struct has three public properties: <code>AttemptedValue</code>, <code>Country</code>, and <code>Error</code>. It's exposed as a structure to your ODC apps and libraries.</p>
</li>
<li>
<p><strong>CustomRules/RejectedCountriesRule.cs</strong>: Defines a custom IBAN validation rule, <code>RejectCountryRule</code>, to reject specified country codes. It also defines an associated error result class, <code>CountryNotAcceptedError</code>, for handling rejected countries.</p>
</li>
</ul>
</li>
<li>
<p>Edit the code to meet your use case. If your project requires unit tests, modify the examples found in <code>../OutSystems.IbanChecker.UnitTests/IbanCheckerTests.cs</code> accordingly.</p>
</li>
<li>
<p>Run the Powershell script <code>generate_upload_package.ps1</code> to generate <code>ExternalLibrary.zip</code>. Rename as required.</p>
</li>
<li>
<p>Upload the generated ZIP file to the ODC Portal. See the <a href="https://www.outsystems.com/goto/external-logic-upload">External Logic feature documentation</a> for guidance on how to do this.</p>
</li>
</ol>
<p><em>(Excerpted from the <a href="hhttps://www.outsystems.com/goto/external-logic-readme">main README of the External Libraries SDK</a>, please refer to that document for additional guidance.)</em></p>